body {
  background-image:
    linear-gradient(
      180deg,
      rgba(11, 15, 22, 0.85),
      rgba(180, 220, 255, 0.25)
    ),
    url('/background.png');

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  background-color: #0B0F16;
}